.navbar {
  background: #1e293b;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}

.welcome-user {
  margin-left: 20px;
  font-weight: bold;
}

.btn-danger {
  border: none;
  background: crimson;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-danger:hover {
  background: #b91c1c;
}